<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/zilanghuo/log/kafka.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{[yyyy-MM-dd] HH:mm:ss.SSS} demo-%X{traceId} [%thread]-[%file:%line]-[%level] %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>
    <logger name="org.apache.commons" level="INFO"/>
    <logger name="org.springframework.web.context.support.XmlWebApplicationContext" level="ERROR"/>
    <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="ERROR"/>
    <logger name="rg.apache.catalina.core.ContainerBase" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="kafkaAppender"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>